<%- layout('partials/boilerplate.ejs') %>
    <section class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6 text-center">
            <p class="">Forgot to add something to your cart? Shop around then come back to pay!</p>

            <a href="/products" class="btn btn-outline-success ">All products</a>
        </div>
    </section>